d-i debian-installer/locale string fr_FR.UTF-8 # Region et langue du systeme
d-i keyboard-configuration/xkb-keymap select fr # Configuration du clavier
d-i keyboard-configuration/variantcode string latin9 # Variant du clavier
d-i clock-setup/utc boolean true # L'horloge systeme en UTC
d-i time/zone string Europe/Paris # Fuseau horaire
d-i clock-setup/ntp boolean true # Utiliser NTP pour synchroniser l'horloge

d-i netcfg/choose_interface select auto # Configuration reseau automatique

d-i apt-setup/security_host string security.debian.org # Miroir de securite
d-i mirror/country string manual # Choix du pays
d-i mirror/http/hostname string ftp.fr.debian.org # Miroir principal
d-i mirror/http/directory string /debian # Repertoire du miroir

# Methode de partitionnement
d-i partman-auto/method string lvm
# Suppression des volumes logiques
d-i partman-lvm/device_remove_lvm boolean true
# Suppression des volumes RAID
d-i partman-md/device_remove_md boolean true
# Confirmation du partitionnement LVM
d-i partman-lvm/confirm boolean true
# Taille maximale pour le partitionnement LVM
d-i partman-auto-lvm/guided_size string max

 # Installation de GRUB uniquement sur Debian
d-i grub-installer/only_debian boolean true
# Choix du disque d'installation de GRUB
d-i grub-installer/bootdev string /dev/sda

# COMMANDES NON FONCTIONNELLES avec le mot de passe root
#d-i passwd/root-password password Passw0rd # Mot de passe root
#d-i passwd/root-password-again password Passw0rd # Confirmation mot de passe root
d-i passwd/root-password-crypted password ZoF3rY/ijWygA # Mot de passe : azerty

# Creation des mots de passe chiffres grace a la commande "mkpasswd -m sha-512"

d-i passwd/user-fullname string User1
# Nom complet de l'utilisateur
d-i passwd/username string user1 
# Nom d'utilisateur (pour le login, terminal etc)
# Mot de passe : azerty
d-i passwd/user-password-crypted password ZoF3rY/ijWygA


d-i tasksel tasksel/first multiselect standard # Installation des paquets standard
d-i pkgsel/include string openssh-server htop apache2 rrdtool mariadb-server snmp snmpd php php-mysql php-snmp php-xml php-mbstring php-json php-gd php-gmp php-zip php-ldap php-intl git


# Creation du fichier /home/helloworld.txt et du 2eme user et installation de Cacti
d-i preseed/late_command string \
     in-target useradd -m -p 'ZoF3rY/ijWygA' -s /bin/bash -c "User2" user2
#    in-target sh -c 'echo "Hello, World!" > /home/helloworld.txt'; \
#    in-target chown user1:user1 /home/helloworld.txt
     in-target git clone -b 1.2.x https://github.com/Cacti/cacti.git /var/www/html/cacti; \
     in-target chown -R www-data:www-data /var/www/html/cacti; \
     in-target mysql -u root -e "CREATE DATABASE cactidb DEFAULT CHARACTER SET utf8 COLLATE utf8_unicode_ci; GRANT ALL PRIVILEGES ON cactidb.* TO 'cactiusername'@'localhost' IDENTIFIED BY 'cactipassword'; GRANT SELECT ON mysql.time_zone_name TO 'cactiusername'@'localhost'; FLUSH PRIVILEGES;"; \
     in-target mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql; \
     in-target mysql -u root cactidb < /var/www/html/cacti/cacti.sql; \
     in-target cp /var/www/html/cacti/include/config.php.dist /var/www/html/cacti/include/config.php; \
     in-target sed -i "s/\$database_type = .*/\$database_type = 'mysql';/" /var/www/html/cacti/include/config.php; \
     in-target sed -i "s/\$database_default = .*/\$database_default = 'cactidb';/" /var/www/html/cacti/include/config.php; \
     in-target sed -i "s/\$database_username = .*/\$database_username = 'cactiusername';/" /var/www/html/cacti/include/config.php; \
     in-target sed -i "s/\$database_password = .*/\$database_password = 'cactipassword';/" /var/www/html/cacti/include/config.php; \
     in-target sed -i "s/memory_limit = .*/memory_limit = 512M/" /etc/php/8.2/apache2/php.ini; \
     in-target sed -i "s/max_execution_time = .*/max_execution_time = 60/" /etc/php/8.2/apache2/php.ini; \
     in-target bash -c "cat <<EOF >> /etc/mysql/mariadb.conf.d/50-server.cnf
collation-server = utf8mb4_unicode_ci
max_heap_table_size = 256M
tmp_table_size = 256M
innodb_buffer_pool_size = 4096M
innodb_doublewrite = OFF
EOF"; \
    in-target systemctl restart mariadb && in-target systemctl restart apache2; \
    in-target bash -c "echo '*/5 * * * * php /var/www/html/cacti/poller.php &>/dev/null' | crontab -u www-data -"; \
    in-target chown -R www-data:www-data /var/www/html/cacti
